/* Bodyimage */
.Bodyimage{
    background-image: url('../public/Capture1.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 400px;

}
/* footer */
.spancolor{
    color: #303030;
}
/* body */
.bodybutton{
    background-color: white;
    opacity: 10px;
}
