

/* Bodyimage */
.Bodyimage{
    background-image: url('..//public/Capture1.PNG');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.Bodyimage img{
  background-repeat: no-repeat;
  background-size: cover;
  


  
}
/* footer */
.spancolor{
    color: #303030;
}
/* body */
.bodybutton{
    background-color: white;
    opacity: 10px;
}
/* above the cards */
.links{
    color: #575757;
}
